<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startlap - Képzelet Gimnázium és Szakközépiskola</title>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
<header>
    <h1>Képzelet Gimnázium és Szakközépiskola</h1>
</header>

<nav>
    <div th:insert="menu"></div>
</nav>

<main>
    <div>

        <h1>ITT LESZ AZ ADATBAZIS</h1>


    </div>
</main>

<footer>
    <p>&copy; 2024 Képzelet Gimnázium és Szakközépiskola. Minden jog fenntartva.</p>
</footer>

</body>
</html>