<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
<header>
    <h1>Képzelet Gimnázium és Szakközépiskola</h1>
</header>

<nav>
    <div th:insert="menu"></div>
</nav>
<main>
    <div class="tables-container">
        <div class="JelentkezesekTabla">
            <h1>Üzenetek tábla</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Üzenet</th>
                    <th>Idő amikor küldték</th>
                    <th>Küldő neve</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message : ${messageslista}">
                    <td th:text="${message.id}"></td>
                    <td th:text="${message.uzenet}"></td>
                    <td th:text="${message.ido}"></td>
                    <td>
                        <span th:if="${message.kuldoid == 0}">Vendég</span>
                        <span th:if="${message.kuldoid != 0}" th:text="${message.sender.name}"></span>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>


<footer>
    <p>&copy; 2024 Képzelet Gimnázium és Szakközépiskola. Minden jog fenntartva.</p>
</footer>

</body>
</html>