<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startlap - Képzelet Gimnázium és Szakközépiskola</title>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
<header>
    <h1>Képzelet Gimnázium és Szakközépiskola</h1>
</header>

<nav>
    <ul xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <li sec:authorize="isAnonymous()"><a href="/login">Bejelentkezés</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/logout">Kijelentkezés</a></li>
        <li sec:authorize="isAnonymous()"><a href="/register">Regisztráció</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin city</a></li>
        <li sec:authorize="isAuthenticated()"><div><h3>Köszöntjük  <span sec:authentication="principal.username">Felhasználó</span></h3></div></li>
    </ul>
</nav>

<main>
    <div>
        <h2>Üdvözöljük a Képzelet Gimnázium és Szakközépiskolában!</h2>
        </br>
        </br>
        </br>
        </br>
        <p>Itt megtekintheti az összes szükséges információt és pontszámokat.</p>
        <p>Kérjük regisztráljon, vagy jelentkezzen be.</p>
    </div>
</main>

<footer>
    <p>&copy; 2024 Képzelet Gimnázium és Szakközépiskola. Minden jog fenntartva.</p>
</footer>

</body>
</html>