<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés - Képzelet Gimnázium és Szakközépiskola</title>
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Garamond&display=swap">
</head>
<body>
<div class="container">
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <h1>Bejelentkezés</h1>
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form action="/loginmania" method="post">
        <label for="username">Felhasználónév:</label>
        <input type="text" id="username" name="username" placeholder="Adja meg a felhasználónevét"  required>

        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" placeholder="Adja meg a jelszavát" required>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <button type="submit">Bejelentkezés</button>
    </form>


    <p>Még nincs fiókja? <a href="/register">Regisztráljon itt!</a></p>
</div>
</body>
</html>
