
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Bejelentkezés</title></head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styleregisterorlogin.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Garamond&display=swap"> <!-- Add Google Font for Garamond -->
<body>
<div class="container"> <!-- Added container class -->
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <h1>Bejelentkezés</h1>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <p><input type="text" th:field="*{username}" placeholder="Kérjük adja meg a felhasználónevét" required/></p>
            <p><input type="text" th:field="*{password}" placeholder="Kérjük adja meg a jelszavát" required/></p>
            <p><button type="submit">Bejelentkezés</button></p>
        </fieldset>
    </form>

    <p>Még nincs fiókja? <a href="/regisztral">Regisztráljon itt!</a></p>
</div>
</body>
</html>