<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bejelentkezés</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styleregisterorlogin.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Garamond&display=swap">
</head>
<body>
<div class="container"> <!-- Added container class -->
    <a href="/">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <h1>Bejelentkezés</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <p>
        <input type="text" name="username" placeholder="Username"/>
    </p>
    <p>
        <input type="password" name="password" placeholder="Password"/>
    </p>
    <p><button type="submit">Bejelentkezés</button></p>
</form>
    <p>Még nincs fiókja? <a href="/regisztral">Regisztráljon itt!</a></p>
</body>
</html>