<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Otthon - Képzelet Gimnázium és Szakközépiskola</title>
<link rel="stylesheet" href="/css/styleindex.css">
<header>
  <h1>Képzelet Gimnázium és Szakközépiskola</h1>
</header>

<nav>
  <div th:insert="menu"></div>
</nav>

<main>
  <div>
    <h2>Üdvözöljük a Képzelet Gimnázium és Szakközépiskola weboldalán!</h2>
    </br>
    <h3>Menüelemek Leírása</h3>
    <div class="menu-item">
      <h4>Home oldal</h4>
      <p>Ez a főoldal, ahol megtekintheti az összes legfrissebb hírt és információt az iskolánkról. Kérjük, itt kezdje a böngészést!</p>
    </div>

    <div class="menu-item">
      <h4>Adatbázis Megtekintése</h4>
      <p>Az adatbázis megtekintésével hozzáférhet a tanulmányi adatokhoz és egyéb fontos információkhoz. Itt részletesen áttekintheti az összes érdekes adatot.</p>
    </div>

    <div class="menu-item">
      <h4>Kijelentkezés</h4>
      <p>A kijelentkezés lehetőséget ad arra, hogy biztonságosan kilépjen a fiókjából. Kérjük, használja ezt a lehetőséget, ha befejezte az oldalon való böngészést.</p>
    </div>

    <div class="menu-item">
      <h4>Kapcsolat</h4>
      <p>A "Kapcsolat" menüpont alatt üzenetet küldhet nekünk. Kérjük, töltse ki az űrlapot, és mi a lehető leghamarabb válaszolunk Önnek!</p>
    </div>
  </div>
</main>


<footer>
  <p>&copy; 2024 Képzelet Gimnázium és Szakközépiskola. Minden jog fenntartva.</p>
</footer>

</body>
</html>
