<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startlap - Képzelet Gimnázium és Szakközépiskola</title>
    <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
<header>
    <h1>Képzelet Gimnázium és Szakközépiskola</h1>
</header>

<nav>
    <div th:insert="menu"></div>
</nav>

<main>
    <div class="welcome-section">
        <h2>Üdvözöljük a Képzelet Gimnázium és Szakközépiskolában!</h2>
        <p>Itt megtekintheti az összes szükséges információt és pontszámokat.</p>
        <p>Kérjük regisztráljon, vagy jelentkezzen be.</p>
    </div>

    <div class="about-section">
        <h3>Iskolánkról</h3>
        <p>A Képzelet Gimnázium és Szakközépiskola célja, hogy olyan fiatalokat neveljünk, akik nemcsak tudásban, hanem jellemben is kiemelkednek. Iskolánk neogótikus tanteremmel, jól felszerelt laboratóriumokkal és széleskörű tanulmányi lehetőségekkel várja diákjait.</p>
        <div class="specialties-image-container">
            <div class="specialties">
        <h3>Szakképzési lehetőségek</h3>
        <p>Az iskolánk különböző szakképzéseket kínál, amelyek lehetővé teszik a diákok számára, hogy szakmai tudásra tegyenek szert. Néhány népszerű szakképzésünk:</p>
                </br>
                </br>
                </br>
                </br>
        <ul>
            <li>Francia nyelvész</li>
            <li>Angol nyelvész</li>
            <li>Matematikus</li>
            <li>Közgazdász</li>
        </ul>
            </div>
            <img src="https://images.stockcake.com/public/8/f/9/8f922c74-8e67-4f79-9d05-33e873ce11d2_large/gloomy-gothic-castle-stockcake.jpg" alt="Képzelet Gimnázium és Szakközépiskola" class="school-image">
        </div>
        <h3>Képzéseink</h3>
        <p>Az iskola által kínált képzések különböző szakterületeken kínálnak lehetőséget a fejlődésre. Szakképzéseink és gimnáziumi programjaink egyaránt célja, hogy felkészítsék a diákokat a jövő kihívásaira.</p>
    </div>

    <div class="contact-section">
        <h3>Kapcsolat</h3>
        <p>Ha bármilyen kérdése van, ne habozzon kapcsolatba lépni velünk:</p>
        <p><strong>Cím:</strong> 3 Farmosi út, Tápiószele</p>
        <p><strong>Telefon:</strong> +36 1 234 5678</p>
        <p><strong>Email:</strong> info@kepzeletgimnazium.hu</p>
    </div>

</main>


<footer>
    <p>&copy; 2024 Képzelet Gimnázium és Szakközépiskola. Minden jog fenntartva.</p>
</footer>

</body>
</html>